.language__switcher {
  display: flex;
  gap: 0.5rem;
}

.language__switcher button {
  background-color: transparent;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}

.language__switcher button:hover {
  background-color: var(--accent-two);
}

@media (max-width: 768px) {
    .language__switcher {
    justify-content: center;
    gap: 1rem;
  }
  
  .language__switcher button {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.6rem 1rem;
    background-color: var(--accent-two);
  }
}