.contact__container {
  padding-left: 1rem;
  padding-right: 1rem;
}
.contact-section {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  background: color-mix(in srgb, var(--background) 60%, transparent);
  border-radius: 1rem;
  max-width: 700px;
  margin: 2rem auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.contact-section h2 {
  color: #1a1a1a;
  margin-bottom: 1rem;
}

.availability {
  font-size: 1rem;
  color: #1a1a1a;
  margin-bottom: 2rem;
}

.contact-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.contact-button {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  background-color: #0077b5;
  border-radius: 0.5rem;
  transition: transform 0.2s, background-color 0.2s;
  width: 200px;
  text-align: center;
}

.contact-button:hover {
  transform: translateY(-3px);}

.contact-button:nth-child(1) { background-color: var(--accent-one); } /* Mail röd */
/* .contact-button:nth-child(1):hover { background-color: #c0392b; } */

.contact-button:nth-child(2) { background-color: var(--accent-two) } /* LinkedIn blå */
/* .contact-button:nth-child(2):hover { background-color: #005582; } */

.contact-button:nth-child(3) { background-color: var(--accent-three) } /* GitHub svart */
/* .contact-button:nth-child(3):hover { background-color: #111; } */
