.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
}

.navbar__left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.navbar__right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.navbar__links {
  padding: 2rem;
  display: none;
  color: var(--primary);
  font-family: "Karla", sans-serif;
  font-size: 22px;
}

.navbar__links a {
  margin: 0 1rem;
  text-decoration: none;
  color: var(--primary);
  font-weight: bold;
}
html {
  scroll-behavior: smooth;
}
.navbar__language {
  display: none; /* döljs på mobil */
}

@media (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 7em;
  }
  .navbar__left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }

  .navbar__right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }
  .navbar__links {
    display: flex;
    font-size: 2rem;
  }
    .navbar__language {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

