* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body.light-theme {
  --primary: #1a1a1a;
  --secondary: #3f3e3e;
  --accent-one: #6baf64;
  --accent-two: #519462;
  --accent-three: #1d5e4c;
  --background: #f5f5f5;
}

body.dark-theme {
  --primary: #f5f5f5;
  --secondary: #e4e0e0;
  --accent-one: #553449;
  --accent-two: #97575e;
  --accent-three: #d56b46;
  --background: #f5f5f5;
}
@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/Karla-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/Karla-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/Karla-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/Karla-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
h3,
p,
a,
li,
button {
  font-family: "Karla", sans-serif;
}
h1 {
  font-weight: bold;
  color: var(--primary);
}
h2 {
  font-weight: bold;
  font-size: 22px;
  color: var(--secondary);
}
h3 {
  font-size: 20px;
  color: var(--secondary);
}
p {
  font-weight: normal;
  font-size: 16px;
}

/* Responsivitet */
@media (min-width: 768px) {
h1 {
  font-weight: bold;
  font-size: 32px;
  color: var(--primary);
}
h2 {
  font-weight: bold;
  font-size: 26px;
  color: var(--secondary);
}
h3 {
  font-size: 28px;
  color: var(--secondary);
}
p {
  font-weight: normal;
  font-size: 22px;
}
}
