.mainPage {
  width: 100%;
  min-height: auto;
}
.main__image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
}

/* ===== Tablets (t.ex. 600px och uppåt) ===== */
/* @media (min-width: 600px) {

} */

/* ===== Tablets (t.ex. 600px och uppåt) ===== */
/* @media (min-width: 600px) {

} */